exportPattern("^[[:alpha:]]+")
import(caret)
import(digest)
import(doParallel)
importFrom(fpc,calinhara)
import(foreach)
import(foreign)
import(ggplot2)
importFrom(GWmodel,gw.dist)
importFrom(gtools,mixedsort)
import(iterators)
import(jpeg)
import(NbClust)
import(parallel)
import(plyr)
import(pracma)
import(ranger)
import(raster)
importFrom(reshape,melt)
import(rgdal)
import(rgeos)
import(kohonen)
import(scales)
import(spdep)
import(spgwr)
import(stringr)
import(zoo)
